* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    background: #FBFBFB;
}

/* ================= NAV SECTION ================= */

.nav-section {
    width: 100%;
    height: 92px;
    background: #FFFFFF;
    margin-bottom: 34px;
}

.nav-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-content ul li a {
    text-decoration: none;
    color: #022E42;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    width: 144px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}





/* ================= BANNER SECTION ================= */

.banner-section {
    background-image: url("../assets/hero-bg.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content h5 {
    height: 35px;
    width: 229px;
    font-size: 12px;
    padding: 8px 14px;
    background-color: #E4E1DD;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #30B868;
    margin: 0 auto;

}

.text-content h2 {
    max-width: 770px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: rgba(255, 255, 255, 1);
}

.text-content span {
    color: #30B868;
}

.text-content p {
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    color: #C4C0B9;
    margin-bottom: 30px;
}

.button {
    display: flex;
    gap: 20px;
}

.btn-1 {
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-2 {
    width: 198px;
    height: 52px;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* ================= NOTE SECTION ================= */

.note-content {
    text-align: center;
    margin-top: 40px;
}

.note-card-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 120px;
}

.note-card {
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.note-card h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}



.note-card p {
    font-size: 16px;
    text-align: center;
    color: #627382;
}

.note-card img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: crimson;
}

/* ================= BRAIN SECTION ================= */

.brain-content {
    display: flex;
    gap: 40px;
    margin: 120px;
}

.img-card {
    width: 600px;
    height: 400px;
    background-image: url("../assets/knowledge.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.brain-text h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.brain-text h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0;
}

.brain-text p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 10px;
}

.brain-check-box h6 {
    font-size: 16px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ================= EARLY SECTION ===================== */

.early-section {
    background-color: #F7F6F2;
    margin: 120px;
    height: 384px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.early-content .btn-1{

    margin: 0 auto;
    margin-top: 10px;
}

.early-content {
    text-align: center;
}
.early-content h6 {
    margin-top: 16px;
    color: #627382;
}

/* ================= FOOTER ================= */

.footer-section {
    background-color: #001931;
}

.footer-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

.social-content p {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 7px;
}

.social-content .icon i {
    color: #FFFFFF;
    margin-right: 12px;
    cursor: pointer;
    
}

.end-footer {
    text-align: center;
    color: #FAFAFA;
    padding: 20px 0;
}


hr{
    width: 1360px;
    height: 0;
    opacity: 0.2;
    border: 1px solid rgba(229, 231, 235, 1);
    margin-left: 80px;
    margin-right: 20px;
    
}

